{% extends "base.html" %}

{% block content %}
    {% if ("инженер" in prof) or ("строитель" in prof) %}
            <div class="col-md-8 offset-md-2">
                <h1>Инженерные тренажеры</h1>
                <img width="300" height="200" src="../static/img/engineer.png">
            </div>
        {% else %}
            <div class="col-md-8 offset-md-2">
                <h1>Научные симуляторы </h1>
                <img width="300" height="200" src="../static/img/medic.png">
            </div>
         {% endif %}
{% endblock %}